* {
    position: relative;
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #1D212D;
}
body.dark-theme {
    background-color: #333;
}
.dark-theme * {
    color: #fff;
}
main {
    flex: 1;
}
.site-header, .site-footer{
    background-color: #000;
}
button.download{
    background-color: #FFE04A;
    border-radius: 20px;
    padding: 8px 15px;
}




@media (max-width: 767px) {}
@media (min-width: 768px) {}
@media (max-width: 991px) {}
@media (min-width: 992px) {}
@media (max-width: 1199px) {}
@media (min-width: 1200px) {}
@media (min-width: 1800px) {}